
<div class="blog-specials"> 
	<h1> Rawr!</h1>
</div>


<!-- <div id="adventures" style="background-position: 50% -8px;">
	<div class="story">
		<div class="float-center">
			<h1 class="adventures">Choose Your Adventure!</h1>
				<ul>
					<li class="adventures"><%= link_to 'Bookmarks', '/bookmarks.html' %></li>
				    <li class="adventures"><%= link_to 'My Projects', '/tags/projects.html' %></li>
				    <li class="adventures"><%= link_to 'Events', '/tags/events.html' %></li>
				    <li class="adventures"><%= link_to 'Courses', '/tags/courses.html' %></li>
				    <li class="adventures"><%= link_to 'Blogs By Tag', '/tag.html' %></li> -->
				<!-- 	<li class="adventures"><%= link_to 'Learning Blog', '#'%></li>
					<li class="adventures"><%= link_to 'Play jQuery Snake!', 'tags/snake.html'%></li>
				</ul>
		</div>
	</div>
</div> --> 

