<div id="bookmarks">
	<div class="bookmarks-body">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="bookmarks">Bookmarks</h1>
			</div>
		</div>
		<div class="bookmark-box-upper-left">
			<h1>testing testing 1..2..3</h1>
		</div>
		<div class="row book-row">
			<div class="col-md-6 col-xs-12">
				<h2 class="bookmarks">Online Courses<h2>
			</div>
			<div class="col-md-6 col-xs-12">
				<ul class="bookmarks">
					<li><%= link_to 'Treehouse', 'http://teamtreehouse.com' %></li>
					<li><%= link_to 'Codecademy', 'http://www.codecademy.com' %></li>
					<li><%= link_to 'Hack Design Course', 'http://hackdesign.org' %></li>
				</ul>
			</div> 
		</div>
		<div class="row book-row">
			<div class="col-md-6 col-xs-12">
				<h2 class="bookmarks">Design<h2>
			</div>
			<div class="col-md-6 col-xs-12">
				<ul class="bookmarks">
					<li><%= link_to 'CSS Animation Cheat Sheet', 'http://www.justinaguilar.com/animations/' %></li>	
					<li><%= link_to 'Hack Design Course', 'http://hackdesign.org' %></li>
					<li><%= link_to 'Mobile Design Patterns', 'http://pttrns.com' %></li>
					<li><%= link_to 'Photoshop Secrets', 'http://photoshopsecrets.tumblr.com/' %></li>
					<li><%= link_to 'Responsive Patterns', 'http://bradfrost.github.io/this-is-responsive/patterns.html' %></li>
					<li><%= link_to '', '' %></li>
				</ul>
			</div> 
		</div>
		<div class="row book-row">
			<div class="col-md-6 col-xs-12">
				<h2 class="bookmarks">References & Documentation</h2>
			</div>
			<div class="col-md-6 col-xs-12">
				<ul class="bookmarks">
					<li><%= link_to "Practical Guide to HTML&CSS", 'http://learn.shayhowe.com/' %></li>
					<li><%= link_to 'Spree Commerce', 'http://spreecommerce.com' %></li>
					<li><%= link_to 'Narrating Spree', 'http://narrator.io' %></li>
					<li><%= link_to 'Twitter Bootstrap', 'http://getbootstrap.com' %></li>
					<li><%= link_to 'jQuery API Documentation', 'http://api.jquery.com/' %></li>
					<li><%= link_to 'Middleman', 'http://middlemanapp.com' %></li>
					<li><%= link_to 'Sinatra', "http://www.sinatrarb.com/" %>
					<li><%= link_to 'Ruby Documenation', 'https://www.ruby-lang.org/en/documentation/' %></li>
					<li><%= link_to 'Ruby on Rails Guides', 'http://guides.rubyonrails.org/' %></li>
					<li><%= link_to 'WordPress', 'http://wordpress.org/' %></li>
					<li><%= link_to 'Devise', 'https://github.com/plataformatec/devise' %></li>
					<li><%= link_to 'HTTP Status Codes', 'http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html' %></li>
					<li><%= link_to 'Get Smacked!', 'http://smacss.com/' %></li>
					<li><%= link_to 'AngularJS', 'https://angularjs.org/' %></li>
					<li><%= link_to '', '' %></li>
				</ul> 
			</div> 
		</div>
		<div class="row book-row">
			<div class="col-md-6 col-xs-12">
				<h2 class="bookmarks">Try...</h2>
			</div>
			<div class="col-md-6 col-xs-12">
				<ul class="bookmarks">
					<li><%= link_to 'CoffeeScipt!', 'http://coffeescript.org/' %></li>
					<li><%= link_to 'Ruby!', 'http://tryruby.org/levels/4/challenges/3' %></li>
					<li><%= link_to 'Single Page Application JS', 'http://todomvc.com/'%></li>
					<li></li>
					<li></li>
				</ul>
			</div> 
		</div>
	</div>
</div>






