<div id="contact" style="background-position: 50% -8px;">
	<div class="row contact">
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
			<h1 class="contact">If you have any advice or questions about my site, please feel free to contact me, I would love to hear from you! E-mail me at jacquelyn905@gmail.com or find me on:</h1>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row contact-two"> 
		<div class="col-md-2">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-2 col-sm-3 col-xs-12">
			<h3 id="facebook" class="contact"><%= link_to 'Facebook', 'https://www.facebook.com/jacquelyn.carver' %></h3>
		</div>
		<div class="col-md-2 col-sm-3 col-xs-12">
			<h3 id="github" class="contact"><%= link_to 'GitHub', 'https://github.com/agnikai' %></h3>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3 id="skype" class="contact"><%= link_to 'Skype', 'http://www.skype.com/en/' %>    :  jacquelyn.carver</h3>
		</div>
		<div class="col-md-1">
		</div>
	</div>
<!-- 	<div class="row contact-two">
		<ul class="contact">
			<li class="contact">
				<h3 id="email">jacquelyn905@gmail.com.</h3>
			</li>
			<li class="contact">
				<h3 id="skype"><%= link_to 'Skype', 'http://www.skype.com/en/' %>: jacquelyn.carver</h3>
			</li>
			<li class="contact">
				<h3 id="facebook"><%= link_to 'Facebook.', 'https://www.facebook.com/jacquelyn.carver' %></h3>
			</li>
			<li class="contact">
				<h3 id="github"><%= link_to 'GitHub.', 'https://github.com/agnikai' %></h3>
			</li>
	</div> -->
</div>




