<div id="learning">
	<div class="row">
		<div class="col-sm-12 learning-description">
			<h1 class="learning">About My Adventures in Programming</h1>
			<p>		I made the decision to learn programming several months ago, and in that time I have learned a lot. But I have also come to realize that no matter how much I learn, there is so much more knowledge out there to expand on. Technology is constantly growing and changing and I am trying to catch up and keep up as well as I can.</p>
			<p>		In order to learn programming, I started with the basics, HTML and CSS. I took courses on Treehouse and Codeacademy, and read through documentation in order to have what I consider a pretty decent grasp of both languages. </p>
			<p> 	So far, I have also learned the basics of Javascript, Ruby, and Ruby on Rails, but I am continuing to learn new things every day. I took courses on Codecademy for Javascipt, JQuery, and Ruby, and covered the same topics on the Team Treehouse courses, along with several courses on Rails Applications. I have read Javascript: The Good Parts and Agile Development with Rails 4 which have really helped me understand many of the more complex concepts involved.</p>
			<p>		After months of learning and reviewing, I am definitely miles ahead of where I was but there is so much more to do and learn. I consider myself extremely lucky, because I have some extremely talented programming friends and roommates who have helped me along the way. Their help, combined with online lessons, books, documentation, and long hours of tweaking things again and again until it works, is what I think will help me along in the journey to becoming a great programmer.</p>
			<p>		I keep a list of ideas of things that I want to build, and I have found that one of the greatest ways to learn, it to figure out what you want to build, or what kind of functionality you want your site to have, and then teach yourself how to get there. I have many ideas and am extremely ambitious in my desire to learn and grow. Over the next couple of years I would like to be an expert at all HTML, CSS, and command line tools. I also want to master Ruby (and be able to navigate perfectly around a Rails application) as well as Javascript and Coffeescript.</p>
			<p>		I also want to focus on learning a lot of the design aspects as well, not just using CSS but also advancing my skills in Photoshop, Illustrator, Sketch, and In Design.</p>
			<p>		I created this blog to help me keep track of all the information that I am constantly learning through direct lessons or from problems solving, and by mapping it out and keeping track of all my work, I hope to use this website as a strong portfolio of my skills.</p>

			<p>		Here are some of the tools I am using to teach and guide me in my adventures in programming: </p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1 hidden-xs">
		</div>
		<div class="col-md-5">
			<div class="learning-box">
				<h2 class="learning"><%= link_to 'Courses &', '/tags/courses.html' %><%= link_to ' Events', 'tags/events.html'%></h2>
	<!-- 			<p>The courses show the online courses I took and which were the most helpful. The Events link is a list of conferences or meetups that help for networking or for getting in-depth looks at programming topics delivered by great speakers.</p> -->
			</div>
		</div>
		<div class="col-md-5">
			<div class="learning-box"> 
				<h2 class="learning"><%= link_to 'Friends, Teachers, & Inspiration', '/teachers.html' %></h2>
				<!-- <p>I have several programmer friends who are very intelligent and successful and great inspirations to me. They are always willing to help when I have questions, and I consider myself very lucky to have them around to guide me.</p> -->
			</div>
		</div>
		<div class="col-md-1 hidden-xs">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="learning-box">
				<h2 class="learning"><%= link_to 'Solutions', '/tags/solutions.html' %></h2>
				<!-- <p>Programming is great, but I have quickly learned that fixing one thing very often breaks another. These are blogs about the processes I used in finding problems and figuring out the solutions.</p> -->
			</div>
		</div>
		<div class="col-md-4">
			<div class="learning-box">
				<h2 class="learning"><%= link_to 'Bookmarks', '/bookmarks.html' %></h2>
				<!-- <p>A list of great reference material to which I am constantly adding. The internet is filled with resources and I am just trying to keep track of some.</p> -->
			</div>
		</div>
		<div class="col-md-4">
			<div class="learning-box">
				<h2 class="learning"><%= link_to 'Projects', '/tags/projects.html' %></h2>
				<!-- <p>A list of projects that I have built or contributed to. You can also view my <%= link_to 'resume', 'resume.html' %>.</p> -->
			</div>
		</div>
	</div>

</div>