<div id="portfolio-page">
  <div class="portfolio-body">
    <div class="row">
      <div class="col-md-12">
        <h1 id="portfolio">Jacquelyn Carver</h1>
        <h2 id="portfolio">jacquelyn905@gmail.com | github.com/agnikai</h2>
        <h2 id="portfolio">Jersey City, New Jersey</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 id="portfolio">Porfolio of Sites</h3>
      </div>
    </div>
    <div class="row show-row">
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">iDeal Furniture Outlet</h4>
        <h5 class="portfolio">E-Commerce Spree Site</h5>
        <p class="portfolio">This site was built by MFRW Design, and was collaborated on by myself and two other developers. I contributed to most of the frontend development and some project management, as well as an in depth look into the Rails and Spree frameworks. Using a number of tools including Bootstrap, the website if fully responsive. To read more about the building of the site, or to take a look at the site itself, see below:</p>
        <p><%= link_to 'Building this site.', '/2014/03/02/ideal.html' %></p>
        <p><%= link_to 'iDeal Furniture Outlet', 'http://ideal-furniture-outlet.herokuapp.com/' %></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/ideal-home.jpg" />
      </div>
    </div>
    <div class="row show-row">
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/mysite-home.jpg" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">All About Jacquelyn</h4>
        <h5 class="portfolio">A Programming Focused Personal Blog</h5>
        <p class="portfolio">I built this site using the Middleman Blogging Framework. Well this main page serves as a reference to all of my work and experience, the site itself it meant to be used as a map of my adventures in learning to program. Each day I learn something new, break it, and then learn how to fix it. As my knowledge base grows, so will this site, so check back for updates!</p>
        <p><%= link_to 'Building this site.', '/2014/05/20/jacquelyn.html' %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 id="portfolio">Skills</h3>
      </div>
    </div>
    <div class="row show-row">
      <div class="col-md-4 col-xs-12">
        <h4 class="portfolio">Frontend Development</h4>
        <h5 class="portfolio">Although constantly growing, this is what I am best at:</h5>
        <ul class="portfolio">
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>SASS/SCSS</li>
          <li>UX/ UI Design</li>
          <li>Responsive Design</li>
          <li>Javascript/JQuery</li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12">
        <h4 class="portfolio">Languages</h4>
        <h5 class="portfolio">Ranging from Beginner to Intermediate:</h5>
        <ul class="portfolio">
          <li>Ruby</li>
          <li>HTML/CSS/SCSS</li>
          <li>Javascript/Coffeescript</li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12">
        <h4 class="portfolio">Tools</h4>
        <h5 class="portfolio">Variety of Tools that I have used in development:</h5>
        <ul class="portfolio">
          <li>Middleman</li>
          <li>Sinatra</li>
          <li>Ruby on Rails</li>
          <li>Twitter Bootstrap 3</li>
          <li>Git/GitHub</li>
          <li>JQuery</li>
          <li>Spree</li>
          <li>Devise</li>
          <li>DataMapper</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 id="portfolio">Companies</h3>
      </div>
    </div>
    <div class="row show-row">
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">MFRW Design</h4>
        <h5 class="portfolio">Mobile First Responsive Web Design</h5>
        <p class="portfolio">This site is owned by a good friend and programming mentor of mine, Thomas Sample. He hired me to do frontend work for him several months ago and in that time I have learned so much and continue to grow. For more information, visit the company website.</p>
        <p><%= link_to 'MFRW Design', 'http://mfrwdesign.com/' %></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/mfrw-home.jpg" />
      </div>
    </div>
    <div class="row show-row">
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/rails-dog-home.jpg" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">Rails Dog</h4>
        <h5 class="portfolio">A Leading Developer in Spree Based E-Commerce Websites</h5>
        <p class="portfolio">I started my employment with Rails Dog very recently. Though I have worked with Spree before, I am eager to work on many more projects with them and to learn more of the backend side of programming, well increasing my capabilities as a frontend developer too.</p>
        <p><%= link_to 'Rails Dog', 'http://railsdog.com/home' %></p>
      </div>
    </div>
    <div class="row show-row">
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">Mark Gallery</h4>
        <h5 class="portfolio">Modern Art Gallery</h5>
        <p class="portfolio">An art gallery located in Englewood, New Jersey, this is a part-time postion where I am fortunate enough to home my design skills using Photoshop and In Design. I also will post blogs highlighting different artists or events for the gallery's site.</p>
        <p><%= link_to 'Mark Gallery', 'http://mark-gallery.com/' %></p>
        <p><%= link_to 'Gallery Blog', 'https://markgallery.wordpress.com/2014/06/10/arthamptons-july-2014/' %></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/markgallery-home.jpg" />
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <h3 id="portfolio">Education</h3>
        </div>
      </div>
      <div class="row show-row">
        <div class="col-md-6 col-xs-12">
          <h4 class="portfolio">Self-Study</h4>
          <h5 class="portfolio">Online Courses, Books, Documentation</h5>
          <ul class="portfolio">
            <li>Team Treehouse</li>
            <li>Codeacdamy</li>
            <li>Hack Design</li>
            <li>Agile Development with Rails 4</li>
            <li>Javascript: The Good Parts</li>
            <li>Documentation: Ruby, Ruby on Rails, Spree Commerce, Bootstrap 3, Middleman, Sinatra, Devise, DataMapper</li>
          </ul>
        </div>
          <div class="col-md-4 col-xs-12">
          <h4 class="portfolio">School</h4>
          <h5 class="portfolio">University of Hawaii at Manoa</h5>
          <ul class="portfolio">
            <li>Major: Psychology</li>
            <li>September 2005 - May 2009</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 id="portfolio">Contact Me</h3>
        </div>
      </div>
      <div class="row show-row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 class="portfolio">E-Mail</h4>
          <h5 class="portfolio">jacquelyn905@gmail.com</h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 class="portfolio">Github</h4>
          <h5 class="portfolio"><%= link_to 'Github', 'https://github.com/agnikai' %></h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 class="portfolio">Skype</h4>
          <h5 class="portfolio">jacquelyn.carver</h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 class="portfolio">Facebook</h4>
          <h5 class="portfolio"><%= link_to 'Jacquelyn', 'https://www.facebook.com/jacquelyn.carver?ref=tn_tnmn' %></h5>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>