<div id="portfolio-page">
  <div class="portfolio-body">

    <%= partial(:header) %>

    <div class="row">
      <div class="col-md-12">
        <h3 id="portfolio" class="aniview" av-animation="fadeInUp">Porfolio of Sites</h3>
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/home/resume-home.png" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">Jacquelyn Carver</h4>
        <h5 class="portfolio">An Online Resume</h5>
        <p class="portfolio">I built this with Middleman and Boostrap as a way to showcase all of my work in one place. This site was initially to be solely dedicated to documenting my work as a programmer, but I decided to expand it to encompass all of my work history and experience.</p>
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
       <div class="col-md-6 col-xs-12">
          <h4 class="portfolio">Candescent Chaos</h4>
          <h5 class="portfolio">A Blog</h5>
          <p class="portfolio">This site was also built with Middleman, using the blog extension. I built this with a dual purpose in mind, the first being to demonstrate my design and programming capabilities, and the second to serve as an example of my writing.</p>
        </div>
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/home/chaos_blog.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 id="portfolio" class="aniview" av-animation="fadeInUp">Sites Contributed To</h3>
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/ideal-home.jpg" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">iDeal Furniture Outlet</h4>
        <h5 class="portfolio">E-Commerce Spree Site</h5>
        <p class="portfolio">This site was built by MFRW Design, and was collaborated on by myself and two other developers. I contributed to most of the frontend development and some project management, as well as an in depth look into the Rails and Spree frameworks. Using a number of tools including Bootstrap, the website is fully responsive.</p>
        <p><%= link_to 'iDeal Furniture Outlet', 'http://ideal-furniture-outlet.herokuapp.com/' %></p>
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">Loot Crate</h4>
        <h5 class="portfolio">Gamers &amp; Geeks Monthly Subsciption Box</h5>
        <p class="portfolio">I contributed to the frontend development of this site while working with the Railsdog team. Some of the main tasks I assisted with included restyling the checkout pages and adding promotional animations for savings and coupons.</p>
        <p><%= link_to 'Loot Crate', 'https://www.lootcrate.com/' %></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/home/lootcrate.png" />
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/home/hivehome.png" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">Hive Home</h4>
        <h5 class="portfolio">British Gas &amp; Heating Company</h5>
        <p class="portfolio">Another Railsdog project, I enjoyed working on the bright colored and clean lines used in the layout for the Hive Home site. I worked with another frontend developer and used Photoshop Mockups from the team graphic designer to style the general layout. Mostly, I enjoyed making a three-piece VENN diagram using CSS3.</p>
        <p><%= link_to 'Hive Home', 'https://www.hivehome.com/products/hive-active-heating' %></p>
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">The Alternative Press</h4>
        <h5 class="portfolio">Publicly Editable News Site</h5>
        <p class="portfolio">Unfortunately, though I spent several months working on this project with the Railsdog team, the project was ultimately stopped before completion. While in progress, I mainly contributed to the mobile pages, working from mockups, to create layouts for the submission forms, news stories, and navigational menus on mobile and tablet displays.</p>
        <p><%= link_to 'The Alternative Press', 'https://www.tapinto.net/' %></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/home/altpress.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 id="portfolio">Skills</h3>
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
      <div class="col-md-4 col-xs-12">
        <h4 class="portfolio">Frontend Development</h4>
        <h5 class="portfolio">Although constantly growing, this is what I am best at:</h5>
        <ul class="portfolio">
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>SASS/SCSS</li>
          <li>UX/ UI Design</li>
          <li>Responsive Design</li>
          <li>Javascript/JQuery</li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12">
        <h4 class="portfolio">Languages</h4>
        <h5 class="portfolio">Ranging from Beginner to Intermediate:</h5>
        <ul class="portfolio">
          <li>Ruby</li>
          <li>HTML/CSS/SCSS</li>
          <li>Javascript/Coffeescript</li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12">
        <h4 class="portfolio">Tools</h4>
        <h5 class="portfolio">Variety of Tools that I have used in development:</h5>
        <ul class="portfolio">
          <li>Middleman</li>
          <li>Sinatra</li>
          <li>Ruby on Rails</li>
          <li>Twitter Bootstrap 3</li>
          <li>Git/GitHub</li>
          <li>JQuery</li>
          <li>Spree</li>
          <li>Devise</li>
          <li>DataMapper</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 id="portfolio"  class="aniview" av-animation="fadeInUp">Companies</h3>
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">MFRW Design</h4>
        <h5 class="portfolio">Mobile First Responsive Web Design</h5>
        <p class="portfolio">This company is owned by a good friend and programming mentor of mine, Thomas Sample. I was hired as a frontend developer in 2013 and worked with MFRW for the next two years, substantially increasing my skill in CSS3, Javascript, and Ruby. In addition to frontened developement, I frequently worked with backend development and also assisted with client interface and schedule management. For more information, visit the company website.</p>
        <p><%= link_to 'MFRW Design', 'http://mfrwdesign.com/' %></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/mfrw-home.jpg" />
      </div>
    </div>
    <div class="row show-row aniview" av-animation="fadeInUp">
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/rails-dog-home.jpg" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">Rails Dog</h4>
        <h5 class="portfolio">A Leading Developer in Spree Based E-Commerce Websites</h5>
        <p class="portfolio">I started my employment with Rails Dog through MFRW Design. Railsdog gave me the opportunity to work with a large team of developers on a series of large scale projects for big name companies, such as GoPro and Loot Crate, whose e-commerce sites were built with Spree. I gained substantial knowledge in CSS3 styling and animations, Javascript, and worked with Ruby and Spree daily. I participated in daily company scrum calls, and used JIRA to manage project tasks with my development team.</p>
        <p><%= link_to 'Rails Dog', 'http://railsdog.com/home' %></p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h3 id="portfolio"  class="aniview" av-animation="fadeInUp">Education</h3>
        </div>
      </div>
      <div class="row show-row aniview" av-animation="fadeInUp">
        <div class="col-md-6 col-xs-12">
          <h4 class="portfolio">Self-Study</h4>
          <h5 class="portfolio">Online Courses, Books, Documentation</h5>
          <ul class="portfolio">
            <li>Team Treehouse</li>
            <li>Codeacdamy</li>
            <li>Hack Design</li>
            <li>Agile Development with Rails 4</li>
            <li>Javascript: The Good Parts</li>
            <li>Documentation: Ruby, Ruby on Rails, Spree Commerce, Bootstrap 3, Middleman, Sinatra, Devise, DataMapper</li>
          </ul>
        </div>
          <div class="col-md-4 col-xs-12">
          <h4 class="portfolio">School</h4>
          <h5 class="portfolio">University of Hawaii at Manoa</h5>
          <ul class="portfolio">
            <li>Major: Psychology</li>
            <li>September 2005 - May 2009</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 id="portfolio" class="aniview" av-animation="fadeInUp">Contact Me</h3>
        </div>
      </div>
      <div class="row show-row aniview" av-animation="fadeInUp">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 class="portfolio">E-Mail</h4>
          <h5 class="portfolio">jacquelyn905@gmail.com</h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 class="portfolio">Github</h4>
          <h5 class="portfolio"><%= link_to 'Github', 'https://github.com/agnikai' %></h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 class="portfolio">Skype</h4>
          <h5 class="portfolio">jacquelyn.carver</h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 class="portfolio">Facebook</h4>
          <h5 class="portfolio"><%= link_to 'Jacquelyn', 'https://www.facebook.com/jacquelyn.carver?ref=tn_tnmn' %></h5>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  
</div>