<div id="teachers">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="teachers">Friends, Teachers, & Inspiration</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 hidden-xs">
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="teacher-box">
				<img src="images/main/chris-me.jpg" class="img-responsive"/>
				<h2 class="teachers">Chris Ewald</h2>
				<p><%= link_to 'GitHub', 'https://github.com/mkcode' %></p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="teacher-box">
				<img src="images/main/tom-me.jpg" class="img-responsive"/>
				<h2 class="teachers">Thomas Sample</h2>
				<p><%= link_to 'GitHub', 'https://github.com/MFRWDesign' %></p>
				<p><%= link_to 'MFRWDesign', 'http://mfrwdesign.com/' %></p>
			</div>
		</div>
		<div class="col-sm-2 hidden-xs">
		</div>
	</div>
<!-- 	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<img src="images/main/tom-me.jpg" class="img-responsive"/>
		</div>
		<div class="col-sm-4 col-xs-12">
			<img src="images/main/chris-me.jpg" class="img-responsive"/>
		</div>
		<div class="col-sm-4 col-xs-12">
			<img src="images/main/magda-john.jpg" class="img-responsive"/>
		</div>
	</div> -->
</div>
<!-- 	<div class="row">
		<div class="col-sm-2 hidden-xs">
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="teacher-box">
				<h2 class="teachers">Magdalena Lipinska</h2>
				<p><%= link_to 'GitHub', 'https://github.com/lipenco' %></p>
				<p><%= link_to 'Magdalena', 'http://lipen.co/' %></p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="teacher-box">
				<h2 class="teachers">John Britton</h2>
				<p><%= link_to 'GitHub', 'https://github.com/johndbritton' %></p>
				<p><%= link_to 'John', 'http://johndbritton.com/' %></p>
			</div>
		</div>
		<div class="col-sm-2 hidden-xs">
		</div> -->
<!-- 	</div> -->



